PORT=3000
PUBLIC_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3000
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_BASIC_PRODUCT_ID=
STRIPE_FAMILY_PRODUCT_ID=
STRIPE_PREMIUM_PRODUCT_ID=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
YOUTUBE_API_KEY=
